In [14]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import roc_curve,auc
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
colnames=['preg','glu','bp','sft','ins','bmi','dpf','age','outcome']
pima_df = pd.read_csv("pima-indians-diabetes-1.data",names=colnames)
pima_df.head()

   preg  glu  bp  sft  ins   bmi    dpf  age  outcome
0     6  148  72   35    0  33.6  0.627   50        1
1     1   85  66   29    0  26.6  0.351   31        0
2     8  183  64    0    0  23.3  0.672   32        1
3     1   89  66   23   94  28.1  0.167   21        0
4     0  137  40   35  168  43.1  2.288   33        1

In [18]:
pima_df.isnull().sum()

preg       0
glu        0
bp         0
sft        0
ins        0
bmi        0
dpf        0
age        0
outcome    0
dtype: int64

In [4]:
pima_df.shape

(768, 9)

In [6]:
pima_df['outcome'].count()

768

In [7]:
pima_df['outcome'].value_counts()

0    500
1    268
Name: outcome, dtype: int64

In [8]:
pima_df['outcome'] = pima_df['outcome'].replace({0:'Healthy',1:'Diabetic'})

In [9]:
pima_df.head()

   preg  glu  bp  sft  ins   bmi    dpf  age   outcome
0     6  148  72   35    0  33.6  0.627   50  Diabetic
1     1   85  66   29    0  26.6  0.351   31   Healthy
2     8  183  64    0    0  23.3  0.672   32  Diabetic
3     1   89  66   23   94  28.1  0.167   21   Healthy
4     0  137  40   35  168  43.1  2.288   33  Diabetic

In [10]:
pima_df['outcome'] = pima_df.outcome.astype('category')

In [12]:
pima_df.head()

   preg  glu  bp  sft  ins   bmi    dpf  age   outcome
0     6  148  72   35    0  33.6  0.627   50  Diabetic
1     1   85  66   29    0  26.6  0.351   31   Healthy
2     8  183  64    0    0  23.3  0.672   32  Diabetic
3     1   89  66   23   94  28.1  0.167   21   Healthy
4     0  137  40   35  168  43.1  2.288   33  Diabetic

In [19]:
X = pima_df.iloc[:,[0,1,2,3,4,5,6,7]]
y = pima_df.iloc[:,8]

In [25]:
X.head()

   preg  glu  bp  sft  ins   bmi    dpf  age
0     6  148  72   35    0  33.6  0.627   50
1     1   85  66   29    0  26.6  0.351   31
2     8  183  64    0    0  23.3  0.672   32
3     1   89  66   23   94  28.1  0.167   21
4     0  137  40   35  168  43.1  2.288   33

In [26]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: outcome, dtype: int64

In [28]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=0)

In [29]:
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [30]:
model = DecisionTreeClassifier(criterion = 'entropy')
model.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [31]:
y_pred = model.predict(X_test)

In [37]:
print("Confusion Matrix:\n",metrics.confusion_matrix(y_test,y_pred))
print("\nAccuracy:",metrics.accuracy_score(y_test,y_pred)*100,'%')
print("\nClassification Report:\n",metrics.classification_report(y_test,y_pred))

Confusion Matrix:
 [[125  32]
 [ 28  46]]

Accuracy: 74.02597402597402 %

Classification Report:
               precision    recall  f1-score   support

           0       0.82      0.80      0.81       157
           1       0.59      0.62      0.61        74

    accuracy                           0.74       231
   macro avg       0.70      0.71      0.71       231
weighted avg       0.74      0.74      0.74       231